.holder_filter{
    margin-top: 50px;
    position: sticky;
    top: 55px;
    padding: 10px 15px;
    border-radius: 7px;
    overflow-y: scroll;

}
.holder_filter::-webkit-scrollbar {
    display: none;
}
.holder_filter ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.nameHolder{
    padding-bottom: 20px;
}
.makeItRed{
background-color: #CC0000!important;
border:1px solid #CC0000!important;
float: right;
}